.history-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 135px;
  overflow-y: auto;
  position: relative;

  &-header {
    font-size: 12px;
    padding: 3px 5px;
    font-weight: bold !important;
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background: #e8e8e8;
  }

  &-item {
    border-bottom: thin solid #212121;
    display: flex;
    align-items: center;

    &:last-child {
      margin-bottom: -1px;
    }
  }

  &-item.is-ahead {
    opacity: 0.5;
  }

  &-item.inactive {
    opacity: 0.5;
  }

  &-item button {
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    text-align: left;
    font-size: 11px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    transition: background 50ms ease-out;
    font-weight: 400;
    &:focus {
      border: none !important;
      background: rgba(0, 0, 0, 0.05);
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &-item.active button {
    font-weight: 500;
  }

  &-item .indicator {
    height: 7px;
    width: 7px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 0;
    background: transparent;
    border: thin solid #2196f3;
  }

  &-item.active .indicator {
    background: #2196f3;
  }

  &-item > button:hover .indicator {
    background: #2196f3;
  }
}
