.react-example {
  border: thin solid black;

  &-controls {
    border-bottom: thin solid black;
    padding: 6px 10px;
    display: flex;
  }

  &-subject {
    border-bottom: thin solid black;
    padding: 20px;
  }

  &-history {
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px inset;
  }
}
