.basic-usage-example {
  button {
    vertical-align: text-bottom;
    border-radius: 2px;
    padding: 2px 5px;
    font-size: 10px;
    border: thin solid black;
    outline: 0;
    cursor: pointer;
  }

  button:focus {
    border: thin solid #2196f3;
  }

  button:active {
    background: #2196f3;
    color: white;
  }

  h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 15px;
  }
}
