.basic-usage-example .control-panel {
  width: 100%;
  color: white;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;

  tr {
    background: rgb(66, 66, 66);
  }

  th input[type="range"] {
    margin-left: 15px;
    margin-right: 5px;
    position: relative;
    width: 557px;
    top: 4px;
    cursor: pointer;
  }
  th input[type="range"]:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  th,
  td {
    border: thin solid rgb(33, 33, 33);
  }

  td.actions {
    width: 200px;
  }

  td.actions button {
    display: block;
    margin-bottom: 4px;
    transition: background 150ms ease-out;
  }

  td.actions button:disabled {
    color: black;
    background: rgba(255, 255, 255, 0.2);
    border: thin solid rgba(31, 31, 31, 0.8);
    cursor: default;
  }

  td.history {
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px inset;
    background: #616161;
  }

  td.history .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 195px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }

  td.history .item {
    border-bottom: thin solid #212121;
    display: flex;
    align-items: center;
  }

  td.history .item.is-ahead {
    opacity: 0.5;
  }

  td.history .item.inactive {
    opacity: 0.5;
  }

  td.history .item > button {
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    text-align: left;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    transition: background 50ms ease-out;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  td.history .item.active button {
    font-weight: 500;
  }

  .indicator {
    height: 7px;
    width: 7px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 0;
    background: transparent;
    border: thin solid #2196f3;
  }

  td.history .item.active .indicator {
    background: #2196f3;
  }

  td.history .item > button:hover .indicator {
    background: #2196f3;
  }
}
